# =========================
# macOS 系统文件
# =========================
.DS_Store

# =========================
# Python 缓存
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Python 虚拟环境
# =========================
.env
.venv
env/
venv/
ENV/

# =========================
# IDE 配置
# =========================
.idea/
.vscode/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints

# =========================
# 数据集
# =========================
data/
datasets/

# =========================
# 模型权重
# =========================
*.pt
*.pth
*.ckpt

# =========================
# 训练日志
# =========================
runs/
logs/
wandb/
result/

# =========================
# 临时文件
# =========================
*.log
*.tmp
scripts/remote_windows.env

# =========================
# 编译文件
# =========================
build/
dist/
*.egg-info/

# =========================
# 系统文件
# =========================
Thumbs.db
